

/*General Styles applied*/

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    max-width: 100%;
  }
  body{
    font-size: 5rem;
    line-height: 1.5; /*doesntn need unit of measurement*/
    color: #4F4F4F;
    margin: 2%;
    
  }
  a{
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6{
    letter-spacing: 3px;
  }
  section{
    padding: 4% 0;
  }

  /*General Styles applied*/

  .headcontain{
      display:flex;
      flex-direction: column;
      border: 2px solid black;
      align-content: center;
      align-items: center;
  }

  h1{
      font-size: 15rem;
  }
  h2{
      font-size: 10rem;
  }
  .headcontain a{
      border: solid black 1px;
      padding: 5px;
      color: #4F4F4F;
  }
  .script{
      border: 1px solid tomato;
      padding: 2% 0;
      
  }
  .script p{
      margin: 8%;
      
  }
  .highlight{
      display:flex;
      border: solid salmon;
      height: 30vh;
      justify-content: center;
      align-items: center;
  }
  .mainproj{
      padding: 1%;
  }

  div.mainproj:hover{
      color:whitesmoke;
      background-color: slategrey;
      transition: 2s;
      border: chocolate 5px;
      border-radius: 30px;
      font-size: 7rem;
    
    
  }
  .prosect{
      display: flex;
      justify-content: space-evenly;
      border: solid slateblue;
      height: 30vh;
      color: whitesmoke
    
  }

  .probox1{
      border: 2px solid springgreen;
      height: 90%;
      width: 18%;
      background-image: url('https://images.unsplash.com/photo-1502014822147-1aedfb0676e0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3w4MzYzMDEwfHxlbnwwfHx8&auto=format&fit=crop&w=800&q=60');
      background-repeat: no-repeat;
      background-size: cover;
    
  }
  .probox2{
    border: 2px solid springgreen;
    height: 90%;
    width: 18%;
    background-image: url('https://images.unsplash.com/photo-1515003233195-4a6c9dc5cbf9?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8ODM2MzAxMHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}
.probox3{
    border: 2px solid springgreen;
    height: 90%;
    width: 18%;
    background-image: url('https://images.unsplash.com/photo-1529905361811-8a9a132cd390?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTZ8ODM2MzAxMHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}

.probox4{
    border: 2px solid springgreen;
    height: 90%;
    width: 18%;
    background-image: url('https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NXw4MzYzMDEwfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}
.favtext{
    font-size: 7rem;
    width: 20%;
    color: #4F4F4F;
}
  footer{
      display:flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
      background-image: url('https://images.unsplash.com/photo-1555570371-517b4d4434cb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;

  }
     
  footer nav{
      display: flex;
      color: whitesmoke;
      justify-content: center;
      background-color: #4F4F4F;
      color:whitesmoke;
      padding: 1%;

  }
  footer nav:hover{
    color:whitesmoke;
    background-color: slategrey;
    transition: 2s;
    border: chocolate 5px;
    border-radius: 30px;
    font-size: 7rem;
  }
  
  .favtext{
      display: inline-block;
  }
  .highlight{
      background-image: url('https://images.unsplash.com/photo-1555570371-517b4d4434cb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  
    }